* {
	margin:0;
	padding:0
}
body {
	font: 16px Georgia, serif;
}

#page-wrap {
	margin:2% auto;
	color: white;
}

#page-wrap > .main {
	border: 2px solid #000;
	margin-bottom: 1px;
	color: white;
}
section > div {
	padding: 20px;
}
header, nav, section {
	background: #476899;
	text-align:center;
}
footer {
	background: #476899;
	text-align:center;
	color:white;
}
nav span {
	margin:0px 10px 0px 0px;
}

#n1 a {
    margin-right: 999px;
    color: white;
}

#f1 > a {
    color: white;
}

.avatar > img {
    width: 100px;
}
